#main #content #filecontents p, .discussion p, ul.param li, div.note {
  max-width: 768px;
}

#toc {
  position: fixed;
  right: 25px;
  display: none;
}

@media screen and (min-width: 1280px) {
  #toc {
    display: block;
  }
}
